HELP.md
Prueba_API.txt
json/


target/

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
*.xml
!pom.xml

### VS Code ###
.vscode/

/src/main/java/com/shaolinquanhu/admin/api/interceptor/ValidationInterceptor.java
/src/main/java/com/shaolinquanhu/admin/api/interceptor/
/src/main/java/com/shaolinquanhu/admin/api/entity/Modificaciones
/src/main/java/com/shaolinquanhu/admin/api/configuration/WebConfig.java
